body {
    background: #FCA6C9;
    text-align: center;

}

h1 {
    color: white;
    font-family: sans-serif;
    font-weight: 800;
}

h1:hover {
    color: black;

}


h4 {
    font-family: sans-serif;
}


.steps {
    text-align: left;
    padding-left: 42%;
    font-family: sans-serif;
    font-weight: 700;   
    line-height: 40px;
}

.first_p {
    color: white;
   
}

.big_letter {
    color: white;
    font-size: 30px
}

